.header {
  background-color: blue;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
}

.gallery {
  padding: 10px 15px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .photo-card {
  padding: 5px;
}

/* should go last  */
.hidden {
  display: none;
}

.load-more-wrap {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.load-more-wrap .load-more {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
